In [1]:
import pandas as pd
import matplotlib
import scipy.stats
import numpy as np
import re

In [2]:
cases_train = pd.read_csv('../data/cases_train.csv')
cases_test = pd.read_csv('../data/cases_test.csv')
location = pd.read_csv('../data/location.csv')

print(cases_train)
# print(cases_test)
print(location)

          age     sex           province    country   latitude   longitude  \
0         NaN     NaN              Delhi      India  28.614740   77.209100
1         NaN     NaN      Uttar Pradesh      India  25.436090   81.847180
2         NaN     NaN        Maharashtra      India  18.504220   73.853020
3       15-34  female  Baden-Wurttemberg    Germany  48.120860    7.849500
4         NaN     NaN            Gujarat      India  23.188409   73.647122
...       ...     ...                ...        ...        ...         ...
367631   15.0    male           Santa Fe  Argentina -32.967800  -60.659240
367632    NaN     NaN              Delhi      India  28.614740   77.209100
367633    NaN     NaN        Maharashtra      India  19.200000   72.966670
367634     28  female                NaN  Singapore   1.280224  103.834500
367635    1.0  female            Sullana       Peru  -4.907630  -80.697330

       date_confirmation                             additional_information  \
0             26.05.2020                                                NaN
1             20.05.2020                                                NaN
2             26.05.2020                                                NaN
3             15.03.2020                                                NaN
4             20.05.2020                                                NaN
...                  ...                                                ...
367631        31.03.2020                                                NaN
367632        16.04.2020                                                NaN
367633        30.05.2020                                                NaN
367634        03.02.2020  Case 19; worked at health product shop with ma...
367635        27.05.2020                                                NaN

                                                   source          outcome
0       https://twitter.com/CMODelhi/status/1265203060...        recovered
1                            https://t.me/indiacovid/5222     hospitalized
2                            https://t.me/indiacovid/5601     hospitalized
3                                                     NaN  nonhospitalized
4       https://twitter.com/PIBAhmedabad/status/126311...     hospitalized
...                                                   ...              ...
367631                                                NaN  nonhospitalized
367632  https://twitter.com/ANI/status/125082767765900...     hospitalized
367633  https://arogya.maharashtra.gov.in/pdf/ncovidep...     hospitalized
367634  https://www.moh.gov.sg/news-highlights/details...        recovered
367635                                                NaN  nonhospitalized

[367636 rows x 10 columns]
     Province_State      Country_Region          Last_Update        Lat  \
0               NaN         Afghanistan  2020-09-20 04:22:56  33.939110
1               NaN             Albania  2020-09-20 04:22:56  41.153300
2               NaN             Algeria  2020-09-20 04:22:56  28.033900
3               NaN             Andorra  2020-09-20 04:22:56  42.506300
4               NaN              Angola  2020-09-20 04:22:56 -11.202700
...             ...                 ...                  ...        ...
3949            NaN  West Bank and Gaza  2020-09-20 04:22:56  31.952200
3950            NaN      Western Sahara  2020-09-20 04:22:56  24.215500
3951            NaN               Yemen  2020-09-20 04:22:56  15.552727
3952            NaN              Zambia  2020-09-20 04:22:56 -13.133897
3953            NaN            Zimbabwe  2020-09-20 04:22:56 -19.015438

          Long_  Confirmed  Deaths  Recovered   Active        Combined_Key  \
0     67.709953      38919    1437      32576   4906.0         Afghanistan
1     20.168300      12226     358       6888   4980.0             Albania
2      1.659600      49623    1665      34923  13035.0             Algeria
3      1.521800       1564      53       1164    347.0             Andorra
4     17.873900       3901     147       1445   2309.0              Angola
...         ...        ...     ...        ...      ...                 ...
3949  35.233200      35003     253      23446  11304.0  West Bank and Gaza
3950 -12.885800         10       1          8      1.0      Western Sahara
3951  48.516388       2026     585       1221    220.0               Yemen
3952  27.849332      14070     330      13365    375.0              Zambia
3953  29.154857       7672     225       5914   1533.0            Zimbabwe

      Incidence_Rate  Case-Fatality_Ratio
0          99.976005             3.692284
1         424.838418             2.928186
2         113.162645             3.355299
3        2024.202420             3.388747
4          11.869312             3.768265
...              ...                  ...
3949      686.142828             0.722795
3950        1.674116            10.000000
3951        6.792738            28.874630
3952       76.534126             2.345416
3953       51.618366             2.932742

[3954 rows x 12 columns]

In [3]:
age = cases_train.age

nan_count = age.isna().sum()

age = pd.DataFrame(age)

age = age.head(10000) # comment this line for final

for index, r in age.iterrows():
    row = r[0]
#     print(r)
    if r.isnull().values.any():
#         print(row)
        pass
    elif re.match('[0-9][0-9]-[0-9][0-9]', row) or re.match('[0-9]-[0-9][0-9]', row) or re.match('[0-9]-[0-9]', row) or re.match('[0-9][0-9] - [0-9][0-9]', row): # '54-56'
        val = str(row).split('-')
        avg = (int(val[0])+int(val[1]))/2
        age.loc[index] = int(avg)
    elif re.match('[0-9] month', row): # '8 month'
        age.loc[index] = int(int((row[0]+row[1]))/12)
    elif re.match('[0-9][0-9][-|+]$', row): # '80+', '80-'
        age.loc[index] = int(row[0]+row[1])
    else: # converts floats to ints for all other cases
        age.loc[index] = int(float(row))

new_age_col_unimputed = age.copy()

age = age.dropna()

age

     age
3     24
7     47
10    24
16    60
18    73
...   ..
9985  64
9988  57
9994  32
9996  47
9998  32

[4244 rows x 1 columns]

In [4]:
nan_count

209265

In [5]:
# todo:
# convert age to numeric column and plot histogram
# impute new_age_col_unimputed
# use the imputed column


# age = age.astype('int32')
age.dtypes
# a.hist(figsize=(20,10), bins=10)

#.describe()

#.hist(figsize=(20,10), bins=10)
# scipy.stats.iqr(age)

age    object
dtype: object